# ML pipeline core
mlflow==3.10.0
optuna==4.7.0
scikit-learn==1.7.2
pandas==2.3.3

# EDA
matplotlib==3.10.8
seaborn==0.13.2

# Data ingestion
kaggle==1.7.4.5

# Pipeline orchestration (with S3 remote support)
dvc==3.66.1
dvc[s3]

# AWS (for S3 remote + MLflow artifact store)
boto3==1.42.60

# Testing
pytest==9.0.2
pytest-cov==7.0.0
